input{
    width: 30px;
    height: 30px;
    border: 2px solid gray;
    margin: 2px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    max-width: fit-content;
    max-height: fit-content;
}

.cell_black_{
    visibility: hidden;
}

.cell_white_{
    border: 2px solid black;
    border-radius: 2px;
}

.cell_white_correct{
    border: 2px solid black;
    border-radius: 2px;
    background-color: rgb(54, 240, 54);
    user-select: none;
}

.cell_white_wrong{
    border: 2px solid black;
    border-radius: 2px;
    background-color: rgb(237, 44, 44);
}

table{
    border-collapse: collapse;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
}
