.home{
  text-align: center;
}

h1{
  font-size: 70px;
}

.themes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
  margin: 0 auto;
  margin-top: 70px;

}

.themebtn{
  width: 200px;
  height: 50;
  margin: 10px;
  font-size: 20px;
  border: 2px solid gray;
  border-radius: 5px;
}

.validate{
  margin-top: 50px;
}

.validate button{
  border: 2px solid green;
  width: 200px;
  border-radius: 5px;
}
